@mixin b24 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 24px;
}
@mixin sb24 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 0.03em;
  line-height: 24px;
}
@mixin sb36 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  letter-spacing: 0.04em;
  line-height: 48px;
}
@mixin b32 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0.04em;
  line-height: 30px;
}
@mixin m32 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0.04em;
  line-height: 30px;
}
@mixin sb48 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  letter-spacing: 0.04em;
  line-height: 60px;
}
@mixin sb54 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 54px;
  letter-spacing: 0.06em;
  line-height: 64px;
}

@mixin r14 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}
@mixin r16 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
@mixin r12 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}
@mixin sb12 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}
@mixin m12 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 18px;
}
@mixin m16 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
@mixin r11 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 18px;
}
@mixin sb20 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}
@mixin m20 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}
@mixin sb14 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}
@mixin r1626 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
}

@mixin sb16 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexxy($j, $ai) {
  display: flex;
  justify-content: $j;
  align-items: $ai;
}
@mixin flexx($j) {
  display: flex;
  justify-content: $j;
  align-items: center;
}
@mixin flexy($ai) {
  display: flex;
  justify-content: space-between;
  align-items: $ai;
}

@mixin category {
  @include flex;
  gap: 16px;

  & h2 {
    @include sb16;
    color: $r;
  }
}

%rectangle {
  width: 20px;
  height: 40px;
  border-radius: 4px;
  background-color: $r;
}

@mixin frw-bckw {
  @include flex;
  gap: 8px;

  & a {
    background-color: $ow;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    @include flexx(center);
  }
}

@mixin button {
  background-color: $r;
  border-radius: 4px;
  padding: 16px 48px;
  color: $w;
  @include m16;
  text-decoration: none;
  margin-top: 40px;
}

@mixin countdown10s {
  content: "";
  animation: countdown 10s step-end infinite;

  @keyframes countdown {
    0% {
      content: "10";
    }
    10% {
      content: "9";
    }
    20% {
      content: "8";
    }
    30% {
      content: "7";
    }
    40% {
      content: "6";
    }
    50% {
      content: "5";
    }
    60% {
      content: "4";
    }
    70% {
      content: "3";
    }
    80% {
      content: "2";
    }
    90% {
      content: "1";
    }
    100% {
      content: "0";
    }
  }
}
