@import "./variables";
@import "./mixin";

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

.container {
  padding: 0 135px;
}

//black banner
header {
  padding: 0 135px;
  background-color: $b;
}

.top-header {
  height: 48px;
  background-color: $b;
  @include flexx(flex-end);
}

.frame-746 {
  @include flex;
  width: 859px;
  gap: 231px;
}

.frame-555 {
  & p {
    color: $w;
    @include r14;
  }

  & a {
    color: $w;
    @include sb14;
    margin-left: 8px;
  }
}

.frame-549 {
  position: relative;
  //   @include flex(unset);
  //   flex: column;
  //height: 54px;

  &-inner {
    @include flex;
    gap: 5px;
    padding-left: 1.5px;

    & p {
      color: $w;
      @include r14;
      margin: 1.5px 0;
      text-align: center;
    }

    & img {
      height: 24px;
    }

    // & a:focus-within .frame-549-inner2 {
    //   visibility: visible;
    // }
  }

  //fix 02/19 leqcia

  //   &-inner2 {
  //     background-color: $b;
  //     position: absolute;
  //     bottom: -27px;
  //     width: 78px;
  //     padding-left: 1.5px;
  //     visibility: hidden;

  //     & a {
  //       text-decoration: none;
  //       margin: 1.5px 0;
  //       @include r14;
  //       color: $w;
  //       text-align: center;
  //     }
  //   }
}

//header
.header {
  height: 94px;
  padding-top: 40px;
  border-bottom: 0.5px solid $line;

  &-inner {
    @include flex;
  }
}

.frame-556 {
  @include flex;
  margin: 7px 0;
  width: 675px;

  & > a {
    text-decoration: none;
    color: $b;
    @include b24;
  }
}

nav {
  @include flex;
  width: 367px;

  & a {
    @include r16;
    text-decoration: none;
    color: $b;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
  }

  & a:hover {
    border-bottom: 1px solid $line;
  }
}

.frame-552 {
  @include flex;
  gap: 24px;
}

.search {
  background-color: $s;
  padding: 7px 12px 7px 20px;
}

.frame-550 {
  @include flex;
  gap: 34px;

  & input {
    @include r12;
    background-color: transparent;
    border: none;
    width: 153px;
    outline: none;

    &:active,
    :focus {
      appearance: none;
    }
  }
}

.frame-551 {
  @include flex;
  gap: 16px;
}

//categories and carousel
.main {
  height: 384px;
  @include flex;

  & > .categories {
    @include flexxy(flex-end, flex-end);
    padding-right: 16px;
    width: 368px;
    border-right: 0.5px solid $line;
    height: 100%;
  }
}

.frame-768 {
  @include flexy(flex-start);
  flex-direction: column;
  gap: 16px;
  width: 217px;

  & a {
    @include r16;
    text-decoration: none;
    color: $b;
  }
}

.frame-558,
.frame-559 {
  @include flex;
  width: 100%;

  & p {
    @include r16;
  }
}

.slider-container {
  max-width: 70%;
  height: 344px;
  background-color: $b;
  margin-left: 45px;
  padding: 11px;
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.slider {
  @include flex;
  //aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5 {
  @include flex;
  flex: 0 0 100%;
  scroll-snap-align: start;
  height: 100%;

  & img {
    height: 100%;
  }
}

.ad {
  width: 294px;
  @include flexy(flex-start);
  gap: 21px;
  flex-direction: column;
  margin: 58px 0 47px 53px;

  & p {
    @include sb48;
    color: $w;
  }

  & a {
    text-decoration: none;
    @include flex;
    gap: 8px;

    & span {
      @include r16;
      border-bottom: 1px solid $w;
      padding-bottom: 4px;
      color: $w;
    }

    & img {
      margin: 5px 3.5px;
    }
  }
}

.frame-563 {
  @include flex;
  gap: 24px;

  & p {
    color: $w;
    @include r16;
  }
}

.slider-nav {
  position: absolute;
  @include flex;
  z-index: 1;
  gap: 12px;
  left: 40%;
  bottom: 0;
  height: 14px;

  & a {
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $w;
    opacity: 50%;
    transition: opacity ease 250ms, transform 200ms ease;

    &:active,
    &:hover {
      opacity: 100%;
      transform: scale(1.2);
    }

    &:focus::after {
      //come back to this with the dropdown
      content: "";
      position: absolute;
      top: 1.5px;
      left: 1.5px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: $r;
      transition: all 200ms ease;
    }

    & input {
      position: absolute;
      left: -5.5px;
      top: -3.5px;
      visibility: hidden;
    }
  }
}

//Flash Sales
.flash-sales {
  width: 100%;
  min-height: 690px;
  @include flex;
  flex-direction: column;
  margin-top: 140px;
}

.button {
  @include button;
}

.frame-727 {
  @include flexy(flex-end);
  height: 103px;
  width: 100%;
}

.frame-725 {
  @include flexy(flex-end);
  width: 600px;
  height: 100%;
}

.frame-626 {
  @include flexy(flex-start);
  flex-direction: column;
  gap: 24px;
}

h3 {
  @include sb36;
}

.section {
  @include category;
}

.rectangle {
  @extend %rectangle;
}

.countdown {
  @include flex;
  gap: 17px;

  & p {
    @include m12;
  }
}

.semicolon {
  @include flex;
  flex-direction: column;
  height: 16px;
  width: 4px;
  margin-top: 12px;

  & .dot1,
  & .dot2 {
    width: 4px;
    height: 4px;
    background-color: $p;
    border-radius: 50%;
  }
}

.frame-580,
.frame-581,
.frame-582,
.frame-583 {
  @include flexy(flex-start);
  flex-direction: column;

  & p:last-of-type {
    @include sb36;
  }
}

.frame-583 p:last-of-type:after {
  @include countdown10s;
}

.frame-726 {
  @include frw-bckw;
}

.frame-577 {
  @include flex;
  width: 100%;
  gap: 30px;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
  width: 270px;
  @include flexy(flex-start);
  flex-direction: column;
  gap: 16px;
}

.frame-570 {
  background-color: $ow;
  width: 100%;
  height: 250px;
  position: relative;

  & > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & .discount {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 55px;
    height: 26px;
    border-radius: 4px;
    background-color: $r;
    padding: 4px 12px;

    & p {
      color: $w;
      @include r12;
    }
  }

  &:hover .a2c {
    visibility: visible;
    opacity: 1;
  }
}

.a2c {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  background-color: $b;
  padding: 9px 87px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  bottom: 0;
  color: $w;
  transition: opacity 0.1s ease-in-out, visibility 0.1s;
  text-decoration: none;
  @include m16;
}

.frame-575 {
  position: absolute;
  top: 12px;
  right: 12px;

  &-inner {
    @include flex;
    flex-direction: column;
    gap: 8px;
  }

  & a {
    width: 34px;
    height: 34px;
    background-color: $w;
    border-radius: 50%;
    @include flexx(center);
  }
}

.frame-569 {
  @include flexy(flex-start);
  flex-direction: column;
  gap: 8px;

  & a {
    @include m16;
    text-decoration: none;
    color: $b;
  }
}

.frame-567 {
  @include flex;
  gap: 12px;

  & p {
    @include m16;
    color: $r;
  }

  & .old-price {
    text-decoration: line-through;
    color: $b;
    opacity: 50%;
  }
}

img[alt="half-star-icon"] {
  width: 17px;
  height: 17px;
}

.line {
  height: 20px;
  width: 100%;
  border-bottom: 0.5px solid $line;
}

//Browse By Category
.bbc {
  margin-top: 80px;
  width: 100%;
  height: 313px;
}

.frame-729 {
  @include flexy(flex-end);
}

.frame-624 {
  @include flexy(flex-start);
  flex-direction: column;
  gap: 20px;
}

.frame-615 {
  @include frw-bckw;
}

.frame-597 {
  height: 215px;
  @include flex;
  gap: 30px;
  margin-top: 60px;
  border-bottom: 0.5px solid $line;
  padding-bottom: 70px;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  height: 145px;
  width: 170px;
  @include flexx(space-evenly);
  flex-direction: column;
  border: 1px solid $line;
  border-radius: 4px;
  @include r16;
  text-decoration: none;
  color: $b;

  &:hover {
    background-color: $r;
    color: $w;

    & img {
      filter: invert(1);
    }
  }
}

.card-4 img {
  filter: invert(1);
}

.card-4:hover img {
  filter: invert(0);
}

//Best Selling Products

.bsp {
  height: 518px;
  margin-top: 140px;
}

.frame-731 {
  @include flexy(flex-end);
  height: 108px;
}

.frame-621 {
  @include flexy(flex-start);
  flex-direction: column;
  gap: 20px;
}

.frame-603 {
  @include flex;
  width: 100%;
  gap: 30px;
  margin-top: 60px;
}

.frame-566 {
  @include flex;
  gap: 8px;

  & p {
    @include sb14;
    color: $b;
    opacity: 50%;
  }
}

.ad2 {
  margin-top: 140px;
  @include flex;
  background-color: $b;
  height: 500px;
  padding: 69px 56px;
  position: relative;

  &-inner {
    @include flexy(flex-start);
    flex-direction: column;
    gap: 32px;
    max-width: 443px;

    & > p:nth-child(1) {
      color: $g;
      @include sb16;
    }

    & > p:nth-child(2) {
      color: $w;
      @include sb48;
    }

    & .countdown {
      gap: 24px;

      & .days,
      & .hours,
      & .minutes,
      & .seconds {
        @include flexxy(center, center);
        flex-direction: column;
        background-color: $w;
        border-radius: 50%;
        width: 62px;
        height: 62px;

        & p:nth-child(1) {
          @include sb16;
        }

        & p:nth-child(2) {
          @include r11;
        }
      }

      & .seconds p:first-of-type:after {
        @include countdown10s;
      }
    }

    & .button {
      background-color: $g;
      margin-top: 8px;
    }
  }

  & img {
    z-index: 1;
    margin-right: 6px;
  }
}

.glow {
  position: absolute;
  background-color: $ow;
  filter: blur(100px);
  border-radius: 50%;
  opacity: 30%;
  height: 100%;
  width: 504px;
  right: 114px;
}

//Explore Our Products

.frame-733 {
  @include flexy(flex-end);
  margin-top: 80px;
  margin-bottom: 60px;
  width: 100%;
}

.frame-622 {
  @include flexy(flex-start);
  flex-direction: column;
  gap: 20px;
}

.frame-616 {
  @include frw-bckw;
}
.frame-734 {
  width: 100%;
}
.frame-617,
.frame-618 {
  @include flex;
  margin-bottom: 60px;
}

.new {
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 4px;
  background-color: $g;
  padding: 4px 12px;
  color: $w;
  @include r12;
}

.choice label input {
  width: 20px;
  height: 20px;
  appearance: none;
  border-radius: 50%;

  &:checked {
    border: 2px solid $w;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 2px $b;
  }
}

input[name="choice1"] {
  &[value="option1"] {
    background-color: $ir;
  }
  &[value="option2"] {
    background-color: $r;
  }
}
input[name="choice2"] {
  &[value="option1"] {
    background-color: $iy;
  }
  &[value="option2"] {
    background-color: $r;
  }
}
input[name="choice3"] {
  &[value="option1"] {
    background-color: $b;
  }
  &[value="option2"] {
    background-color: $r;
  }
}
input[name="choice4"] {
  &[value="option1"] {
    background-color: $ig;
  }
  &[value="option2"] {
    background-color: $r;
  }
}

.eop {
  @include flex;
  flex-direction: column;
}

//New Arrival
.new-arrival {
  @include flexy(flex-start);
  flex-direction: column;
  gap: 60px;
  margin-top: 140px;
}

.frame-739 {
  @include flex;
  gap: 30px;
}

.frame-738 {
  @include flex;
  flex-direction: column;
  gap: 32px;
}

.frame-737 {
  @include flex;
  gap: 30px;
}

.ps-5 {
  width: 570px;
  height: 600px;
  background-color: $b;
  position: relative;

  & img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.text {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: $w;
  width: 242px;
  @include flexy(flex-start);
  flex-direction: column;
  gap: 16px;

  & h4 {
    @include sb24;
  }

  & p {
    @include r14;
  }

  & a {
    @include m16;
    color: $w;
    text-decoration: none;
    border-bottom: 1px solid rgba($w, 0.5);
  }
}

.womens-collection {
  width: 570px;
  height: 284px;
  background-color: rgba(13, 13, 13, 1);
  position: relative;

  & img {
    position: absolute;
    right: 0;
  }

  & .text {
    bottom: 24px;
    left: 24px;
  }
}

.speakers {
  background-color: $b;
  width: 270px;
  height: 284px;
  position: relative;

  & img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  & .text {
    gap: 8px;
    bottom: 24px;
    left: 24px;
  }

  .glow1 {
    width: 196px;
    height: 196px;
    background-color: rgba(217, 217, 217, 0.9);
    filter: blur(150px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.perfume {
  background-color: $b;
  width: 270px;
  height: 284px;
  position: relative;

  & .glow1 {
    width: 238px;
    height: 238px;
    background-color: rgba(217, 217, 217, 0.9);
    filter: blur(150px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  & img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  & .text {
    gap: 8px;
    bottom: 24px;
    left: 24px;
  }
}

//Guarantee
.guarantee {
  height: 161px;
  width: 943px;
  @include flex;
  margin: 140px auto;

  & .inner {
    @include flexx(center);
    flex-direction: column;
    height: 100%;
    gap: 35px;

    & .promise {
      @include flex;
      flex-direction: column;
      gap: 8px;

      & h5 {
        @include sb20;
        text-align: center;
        width: 25ch;
      }

      & p {
        @include r14;
      }
    }
  }
}

.circle {
  background-color: $b;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  box-shadow: 0 0 0 11px rgba(47, 46, 48, 0.3);
  padding: 8px;
}

footer {
  height: 440px;
  background-color: $b;
  position: relative;
  padding-top: 80px;

  & .copy {
    height: 40px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: $w;
    @include flexxy(center, flex-end);
    position: absolute;
    bottom: 24px;

    & p {
      opacity: 20%;
      @include r16;
    }
  }

  & .to-the-top {
    position: absolute;
    @include frw-bckw;
    right: 89px;
    top: -78px;
  }
}

.footer {
  height: 236px;
  margin: 0 135px;
  @include flexy(flex-start);
  color: $w;
}

.section-1 {
  @include flexy(flex-start);
  flex-direction: column;
  gap: 16px;

  & .inner {
    @include flexy(flex-start);
    flex-direction: column;
    gap: 24px;

    & p {
      @include r16;
    }
  }

  & .email {
    border: 1.5px solid $w;
    border-radius: 4px;
    padding: 9px 16px;
    @include flex;
    gap: 32px;

    & input {
      width: 105px;
      background-color: transparent;
      outline: none;
      border: none;
      color: $w;

      &:active {
        appearance: none;
      }
    }
  }
}

h6 {
  @include sb24;
}

h7 {
  @include m20;
}

.section-2,
.section-3,
.section-4 {
  @include flexy(flex-start);
  flex-direction: column;
  gap: 24px;

  & .inner {
    @include flexy(flex-start);
    flex-direction: column;
    gap: 16px;
  }

  & p {
    @include r16;
  }

  & a {
    text-decoration: none;
    color: $w;
    @include r16;
  }
}

.section-2 {
  width: 175px;
}

.section-5 {
  @include flexy(flex-start);
  flex-direction: column;
  gap: 24px;

  & .save {
    @include flexy(flex-start);
    flex-direction: column;
    gap: 8px;

    & .download {
      @include flex;
      gap: 8px;

      & .stores {
        @include flex;
        flex-direction: column;
        gap: 4px;

        & .app-store,
        & .play-store {
          padding: 2px 3px;
        }
      }
    }
  }

  & .socials {
    @include flex;
    gap: 24px;
  }
}
.note {
  @include m12;
  opacity: 70%;
}

///////////////////////////////////////////ABOUT PAGE//////////////////////////////////////////////////
.location {
  margin-top: 80px;
  @include flex;
  @include r14;
  width: 86px;

  & a {
    text-decoration: none;
    color: $b;
    opacity: 50%;
  }

  & p span {
    opacity: 50%;
  }
}

//Our story

.our-story {
  margin-top: 180px;
  width: 480px;
  position: relative;
  margin-bottom: 276px;

  & h2 {
    @include sb54;
    margin-bottom: 40px;
  }

  & p {
    @include r1626;

    &:first-of-type {
      margin-bottom: 24px;
    }
  }

  & img {
    position: absolute;
    right: -825px;
    top: -135px;
  }
}

//Milestones

.milestone {
  @include flex;
  gap: 30px;
  width: 1170px;
  height: 230px;

  &-1,
  &-2,
  &-3,
  &-4 {
    width: 270px;
    height: 100%;
    border: 1px solid $line;
    border-radius: 4px;
    @include flexxy(center, center);

    & .inner {
      @include flex;
      flex-direction: column;
      gap: 12px;

      & .circle {
        margin-bottom: 22px;
      }

      & h3 {
        @include b32;
      }

      & p {
        @include r16;
      }
    }

    &:nth-child(2) img {
      filter: invert(1);
    }

    &:hover {
      background-color: $r;
      transition: 0.3s;

      & .circle,
      & h3,
      & p {
        filter: invert(1);
      }
    }
  }
}

.executives {
  @include flex;
  margin-top: 140px;
  position: relative;

  & .tom,
  & .emma,
  & .will {
    @include flexy(flex-start);
    flex-direction: column;
    gap: 32px;

    & .info {
      @include flexy(flex-start);
      flex-direction: column;
      gap: 16px;

      & .name {
        @include flexy(flex-start);
        flex-direction: column;
        gap: 8px;

        & h4 {
          @include m32;
        }

        & p {
          @include r16;
        }
      }
    }

    .socials {
      @include flex;
      gap: 16px;
    }
  }

  .slider-nav {
    bottom: -40px;
    left: 45.5%;

    & a {
      background-color: $b;
      opacity: 30%;
    }
  }
}
